# VerificationStatus

## Enum


* `PENDING` (value: `"pending"`)

* `ACCEPTED` (value: `"accepted"`)

* `INVALID` (value: `"invalid"`)

* `EXPIRED` (value: `"expired"`)

* `ERROR` (value: `"error"`)


[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


