/*
Telnyx API

SIP trunking, SMS, MMS, Call Control and Telephony Data Services.

API version: 2.0.0
Contact: support@telnyx.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package telnyx

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
	"time"
)


// PortingOrdersAPIService PortingOrdersAPI service
type PortingOrdersAPIService service

type ApiActivatePortingOrderRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
}

func (r ApiActivatePortingOrderRequest) Execute() (*ActivatePortingOrder202Response, *http.Response, error) {
	return r.ApiService.ActivatePortingOrderExecute(r)
}

/*
ActivatePortingOrder Activate every number in a porting order asynchronously.

Activate each number in a porting order asynchronously. This operation is limited to US FastPort orders only.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiActivatePortingOrderRequest
*/
func (a *PortingOrdersAPIService) ActivatePortingOrder(ctx context.Context, id string) ApiActivatePortingOrderRequest {
	return ApiActivatePortingOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ActivatePortingOrder202Response
func (a *PortingOrdersAPIService) ActivatePortingOrderExecute(r ApiActivatePortingOrderRequest) (*ActivatePortingOrder202Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ActivatePortingOrder202Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.ActivatePortingOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/actions/activate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelPortingOrderRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
}

func (r ApiCancelPortingOrderRequest) Execute() (*CancelPortingOrder200Response, *http.Response, error) {
	return r.ApiService.CancelPortingOrderExecute(r)
}

/*
CancelPortingOrder Cancel a porting order

Cancel a porting order

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiCancelPortingOrderRequest
*/
func (a *PortingOrdersAPIService) CancelPortingOrder(ctx context.Context, id string) ApiCancelPortingOrderRequest {
	return ApiCancelPortingOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CancelPortingOrder200Response
func (a *PortingOrdersAPIService) CancelPortingOrderExecute(r ApiCancelPortingOrderRequest) (*CancelPortingOrder200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CancelPortingOrder200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.CancelPortingOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/actions/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConfirmPortingOrderRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
}

func (r ApiConfirmPortingOrderRequest) Execute() (*ConfirmPortingOrder200Response, *http.Response, error) {
	return r.ApiService.ConfirmPortingOrderExecute(r)
}

/*
ConfirmPortingOrder Submit a porting order.

Confirm and submit your porting order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiConfirmPortingOrderRequest
*/
func (a *PortingOrdersAPIService) ConfirmPortingOrder(ctx context.Context, id string) ApiConfirmPortingOrderRequest {
	return ApiConfirmPortingOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ConfirmPortingOrder200Response
func (a *PortingOrdersAPIService) ConfirmPortingOrderExecute(r ApiConfirmPortingOrderRequest) (*ConfirmPortingOrder200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConfirmPortingOrder200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.ConfirmPortingOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/actions/confirm"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateAdditionalDocumentsRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
	createAdditionalDocumentsRequest *CreateAdditionalDocumentsRequest
}

// A list of additional document parameters
func (r ApiCreateAdditionalDocumentsRequest) CreateAdditionalDocumentsRequest(createAdditionalDocumentsRequest CreateAdditionalDocumentsRequest) ApiCreateAdditionalDocumentsRequest {
	r.createAdditionalDocumentsRequest = &createAdditionalDocumentsRequest
	return r
}

func (r ApiCreateAdditionalDocumentsRequest) Execute() (*CreateAdditionalDocuments201Response, *http.Response, error) {
	return r.ApiService.CreateAdditionalDocumentsExecute(r)
}

/*
CreateAdditionalDocuments Create a list of additional documents

Creates a list of additional documents for a porting order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiCreateAdditionalDocumentsRequest
*/
func (a *PortingOrdersAPIService) CreateAdditionalDocuments(ctx context.Context, id string) ApiCreateAdditionalDocumentsRequest {
	return ApiCreateAdditionalDocumentsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateAdditionalDocuments201Response
func (a *PortingOrdersAPIService) CreateAdditionalDocumentsExecute(r ApiCreateAdditionalDocumentsRequest) (*CreateAdditionalDocuments201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateAdditionalDocuments201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.CreateAdditionalDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/additional_documents"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createAdditionalDocumentsRequest == nil {
		return localVarReturnValue, nil, reportError("createAdditionalDocumentsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createAdditionalDocumentsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateLoaConfigurationRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	previewLoaConfigurationParamsRequest *PreviewLoaConfigurationParamsRequest
}

func (r ApiCreateLoaConfigurationRequest) PreviewLoaConfigurationParamsRequest(previewLoaConfigurationParamsRequest PreviewLoaConfigurationParamsRequest) ApiCreateLoaConfigurationRequest {
	r.previewLoaConfigurationParamsRequest = &previewLoaConfigurationParamsRequest
	return r
}

func (r ApiCreateLoaConfigurationRequest) Execute() (*CreateLoaConfiguration201Response, *http.Response, error) {
	return r.ApiService.CreateLoaConfigurationExecute(r)
}

/*
CreateLoaConfiguration Create a LOA configuration

Create a LOA configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateLoaConfigurationRequest
*/
func (a *PortingOrdersAPIService) CreateLoaConfiguration(ctx context.Context) ApiCreateLoaConfigurationRequest {
	return ApiCreateLoaConfigurationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateLoaConfiguration201Response
func (a *PortingOrdersAPIService) CreateLoaConfigurationExecute(r ApiCreateLoaConfigurationRequest) (*CreateLoaConfiguration201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateLoaConfiguration201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.CreateLoaConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting/loa_configurations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.previewLoaConfigurationParamsRequest == nil {
		return localVarReturnValue, nil, reportError("previewLoaConfigurationParamsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.previewLoaConfigurationParamsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePhoneNumberConfigurationsRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	createPhoneNumberConfigurationsRequest *CreatePhoneNumberConfigurationsRequest
}

// A list of phone number configuration parameters
func (r ApiCreatePhoneNumberConfigurationsRequest) CreatePhoneNumberConfigurationsRequest(createPhoneNumberConfigurationsRequest CreatePhoneNumberConfigurationsRequest) ApiCreatePhoneNumberConfigurationsRequest {
	r.createPhoneNumberConfigurationsRequest = &createPhoneNumberConfigurationsRequest
	return r
}

func (r ApiCreatePhoneNumberConfigurationsRequest) Execute() (*CreatePhoneNumberConfigurations201Response, *http.Response, error) {
	return r.ApiService.CreatePhoneNumberConfigurationsExecute(r)
}

/*
CreatePhoneNumberConfigurations Create a list of phone number configurations

Creates a list of phone number configurations.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePhoneNumberConfigurationsRequest
*/
func (a *PortingOrdersAPIService) CreatePhoneNumberConfigurations(ctx context.Context) ApiCreatePhoneNumberConfigurationsRequest {
	return ApiCreatePhoneNumberConfigurationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreatePhoneNumberConfigurations201Response
func (a *PortingOrdersAPIService) CreatePhoneNumberConfigurationsExecute(r ApiCreatePhoneNumberConfigurationsRequest) (*CreatePhoneNumberConfigurations201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePhoneNumberConfigurations201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.CreatePhoneNumberConfigurations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/phone_number_configurations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPhoneNumberConfigurationsRequest == nil {
		return localVarReturnValue, nil, reportError("createPhoneNumberConfigurationsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPhoneNumberConfigurationsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePortingOrderRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	createPortingOrder *CreatePortingOrder
}

func (r ApiCreatePortingOrderRequest) CreatePortingOrder(createPortingOrder CreatePortingOrder) ApiCreatePortingOrderRequest {
	r.createPortingOrder = &createPortingOrder
	return r
}

func (r ApiCreatePortingOrderRequest) Execute() (*CreatePortingOrder201Response, *http.Response, error) {
	return r.ApiService.CreatePortingOrderExecute(r)
}

/*
CreatePortingOrder Create a porting order

Creates a new porting order object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePortingOrderRequest
*/
func (a *PortingOrdersAPIService) CreatePortingOrder(ctx context.Context) ApiCreatePortingOrderRequest {
	return ApiCreatePortingOrderRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreatePortingOrder201Response
func (a *PortingOrdersAPIService) CreatePortingOrderExecute(r ApiCreatePortingOrderRequest) (*CreatePortingOrder201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePortingOrder201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.CreatePortingOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPortingOrder == nil {
		return localVarReturnValue, nil, reportError("createPortingOrder is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPortingOrder
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePortingOrderCommentRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
	createPortingOrderComment *CreatePortingOrderComment
}

func (r ApiCreatePortingOrderCommentRequest) CreatePortingOrderComment(createPortingOrderComment CreatePortingOrderComment) ApiCreatePortingOrderCommentRequest {
	r.createPortingOrderComment = &createPortingOrderComment
	return r
}

func (r ApiCreatePortingOrderCommentRequest) Execute() (*CreatePortingOrderComment201Response, *http.Response, error) {
	return r.ApiService.CreatePortingOrderCommentExecute(r)
}

/*
CreatePortingOrderComment Create a comment for a porting order

Creates a new comment for a porting order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiCreatePortingOrderCommentRequest
*/
func (a *PortingOrdersAPIService) CreatePortingOrderComment(ctx context.Context, id string) ApiCreatePortingOrderCommentRequest {
	return ApiCreatePortingOrderCommentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreatePortingOrderComment201Response
func (a *PortingOrdersAPIService) CreatePortingOrderCommentExecute(r ApiCreatePortingOrderCommentRequest) (*CreatePortingOrderComment201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePortingOrderComment201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.CreatePortingOrderComment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPortingOrderComment == nil {
		return localVarReturnValue, nil, reportError("createPortingOrderComment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPortingOrderComment
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePortingPhoneNumberBlockRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	portingOrderId string
	createPortingPhoneNumberBlockRequest *CreatePortingPhoneNumberBlockRequest
}

func (r ApiCreatePortingPhoneNumberBlockRequest) CreatePortingPhoneNumberBlockRequest(createPortingPhoneNumberBlockRequest CreatePortingPhoneNumberBlockRequest) ApiCreatePortingPhoneNumberBlockRequest {
	r.createPortingPhoneNumberBlockRequest = &createPortingPhoneNumberBlockRequest
	return r
}

func (r ApiCreatePortingPhoneNumberBlockRequest) Execute() (*CreatePortingPhoneNumberBlock201Response, *http.Response, error) {
	return r.ApiService.CreatePortingPhoneNumberBlockExecute(r)
}

/*
CreatePortingPhoneNumberBlock Create a phone number block

Creates a new phone number block.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param portingOrderId Identifies the Porting Order associated with the phone number block
 @return ApiCreatePortingPhoneNumberBlockRequest
*/
func (a *PortingOrdersAPIService) CreatePortingPhoneNumberBlock(ctx context.Context, portingOrderId string) ApiCreatePortingPhoneNumberBlockRequest {
	return ApiCreatePortingPhoneNumberBlockRequest{
		ApiService: a,
		ctx: ctx,
		portingOrderId: portingOrderId,
	}
}

// Execute executes the request
//  @return CreatePortingPhoneNumberBlock201Response
func (a *PortingOrdersAPIService) CreatePortingPhoneNumberBlockExecute(r ApiCreatePortingPhoneNumberBlockRequest) (*CreatePortingPhoneNumberBlock201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePortingPhoneNumberBlock201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.CreatePortingPhoneNumberBlock")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{porting_order_id}/phone_number_blocks"
	localVarPath = strings.Replace(localVarPath, "{"+"porting_order_id"+"}", url.PathEscape(parameterValueToString(r.portingOrderId, "portingOrderId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPortingPhoneNumberBlockRequest == nil {
		return localVarReturnValue, nil, reportError("createPortingPhoneNumberBlockRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPortingPhoneNumberBlockRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePortingPhoneNumberExtensionRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	portingOrderId string
	createPortingPhoneNumberExtensionRequest *CreatePortingPhoneNumberExtensionRequest
}

func (r ApiCreatePortingPhoneNumberExtensionRequest) CreatePortingPhoneNumberExtensionRequest(createPortingPhoneNumberExtensionRequest CreatePortingPhoneNumberExtensionRequest) ApiCreatePortingPhoneNumberExtensionRequest {
	r.createPortingPhoneNumberExtensionRequest = &createPortingPhoneNumberExtensionRequest
	return r
}

func (r ApiCreatePortingPhoneNumberExtensionRequest) Execute() (*CreatePortingPhoneNumberExtension201Response, *http.Response, error) {
	return r.ApiService.CreatePortingPhoneNumberExtensionExecute(r)
}

/*
CreatePortingPhoneNumberExtension Create a phone number extension

Creates a new phone number extension.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param portingOrderId Identifies the Porting Order associated with the phone number extension
 @return ApiCreatePortingPhoneNumberExtensionRequest
*/
func (a *PortingOrdersAPIService) CreatePortingPhoneNumberExtension(ctx context.Context, portingOrderId string) ApiCreatePortingPhoneNumberExtensionRequest {
	return ApiCreatePortingPhoneNumberExtensionRequest{
		ApiService: a,
		ctx: ctx,
		portingOrderId: portingOrderId,
	}
}

// Execute executes the request
//  @return CreatePortingPhoneNumberExtension201Response
func (a *PortingOrdersAPIService) CreatePortingPhoneNumberExtensionExecute(r ApiCreatePortingPhoneNumberExtensionRequest) (*CreatePortingPhoneNumberExtension201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePortingPhoneNumberExtension201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.CreatePortingPhoneNumberExtension")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{porting_order_id}/phone_number_extensions"
	localVarPath = strings.Replace(localVarPath, "{"+"porting_order_id"+"}", url.PathEscape(parameterValueToString(r.portingOrderId, "portingOrderId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPortingPhoneNumberExtensionRequest == nil {
		return localVarReturnValue, nil, reportError("createPortingPhoneNumberExtensionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPortingPhoneNumberExtensionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePortingReportRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	createPortingReportRequest *CreatePortingReportRequest
}

func (r ApiCreatePortingReportRequest) CreatePortingReportRequest(createPortingReportRequest CreatePortingReportRequest) ApiCreatePortingReportRequest {
	r.createPortingReportRequest = &createPortingReportRequest
	return r
}

func (r ApiCreatePortingReportRequest) Execute() (*CreatePortingReport201Response, *http.Response, error) {
	return r.ApiService.CreatePortingReportExecute(r)
}

/*
CreatePortingReport Create a porting related report

Generate reports about porting operations.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePortingReportRequest
*/
func (a *PortingOrdersAPIService) CreatePortingReport(ctx context.Context) ApiCreatePortingReportRequest {
	return ApiCreatePortingReportRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreatePortingReport201Response
func (a *PortingOrdersAPIService) CreatePortingReportExecute(r ApiCreatePortingReportRequest) (*CreatePortingReport201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePortingReport201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.CreatePortingReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting/reports"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPortingReportRequest == nil {
		return localVarReturnValue, nil, reportError("createPortingReportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPortingReportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAdditionalDocumentRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
	additionalDocumentId string
}

func (r ApiDeleteAdditionalDocumentRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAdditionalDocumentExecute(r)
}

/*
DeleteAdditionalDocument Delete an additional document

Deletes an additional document for a porting order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @param additionalDocumentId Additional document identification.
 @return ApiDeleteAdditionalDocumentRequest
*/
func (a *PortingOrdersAPIService) DeleteAdditionalDocument(ctx context.Context, id string, additionalDocumentId string) ApiDeleteAdditionalDocumentRequest {
	return ApiDeleteAdditionalDocumentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		additionalDocumentId: additionalDocumentId,
	}
}

// Execute executes the request
func (a *PortingOrdersAPIService) DeleteAdditionalDocumentExecute(r ApiDeleteAdditionalDocumentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.DeleteAdditionalDocument")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/additional_documents/{additional_document_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"additional_document_id"+"}", url.PathEscape(parameterValueToString(r.additionalDocumentId, "additionalDocumentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteLoaConfigurationRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
}

func (r ApiDeleteLoaConfigurationRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLoaConfigurationExecute(r)
}

/*
DeleteLoaConfiguration Delete a LOA configuration

Delete a specific LOA configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Identifies a LOA configuration.
 @return ApiDeleteLoaConfigurationRequest
*/
func (a *PortingOrdersAPIService) DeleteLoaConfiguration(ctx context.Context, id string) ApiDeleteLoaConfigurationRequest {
	return ApiDeleteLoaConfigurationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *PortingOrdersAPIService) DeleteLoaConfigurationExecute(r ApiDeleteLoaConfigurationRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.DeleteLoaConfiguration")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting/loa_configurations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeletePortingOrderRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
}

func (r ApiDeletePortingOrderRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePortingOrderExecute(r)
}

/*
DeletePortingOrder Delete a porting order

Deletes an existing porting order. This operation is restrict to porting orders in draft state.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiDeletePortingOrderRequest
*/
func (a *PortingOrdersAPIService) DeletePortingOrder(ctx context.Context, id string) ApiDeletePortingOrderRequest {
	return ApiDeletePortingOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *PortingOrdersAPIService) DeletePortingOrderExecute(r ApiDeletePortingOrderRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.DeletePortingOrder")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeletePortingPhoneNumberBlockRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	portingOrderId string
	id string
}

func (r ApiDeletePortingPhoneNumberBlockRequest) Execute() (*CreatePortingPhoneNumberBlock201Response, *http.Response, error) {
	return r.ApiService.DeletePortingPhoneNumberBlockExecute(r)
}

/*
DeletePortingPhoneNumberBlock Delete a phone number block

Deletes a phone number block.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param portingOrderId Identifies the Porting Order associated with the phone number block
 @param id Identifies the phone number block to be deleted
 @return ApiDeletePortingPhoneNumberBlockRequest
*/
func (a *PortingOrdersAPIService) DeletePortingPhoneNumberBlock(ctx context.Context, portingOrderId string, id string) ApiDeletePortingPhoneNumberBlockRequest {
	return ApiDeletePortingPhoneNumberBlockRequest{
		ApiService: a,
		ctx: ctx,
		portingOrderId: portingOrderId,
		id: id,
	}
}

// Execute executes the request
//  @return CreatePortingPhoneNumberBlock201Response
func (a *PortingOrdersAPIService) DeletePortingPhoneNumberBlockExecute(r ApiDeletePortingPhoneNumberBlockRequest) (*CreatePortingPhoneNumberBlock201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePortingPhoneNumberBlock201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.DeletePortingPhoneNumberBlock")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{porting_order_id}/phone_number_blocks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"porting_order_id"+"}", url.PathEscape(parameterValueToString(r.portingOrderId, "portingOrderId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePortingPhoneNumberExtensionRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	portingOrderId string
	id string
}

func (r ApiDeletePortingPhoneNumberExtensionRequest) Execute() (*CreatePortingPhoneNumberExtension201Response, *http.Response, error) {
	return r.ApiService.DeletePortingPhoneNumberExtensionExecute(r)
}

/*
DeletePortingPhoneNumberExtension Delete a phone number extension

Deletes a phone number extension.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param portingOrderId Identifies the Porting Order associated with the phone number extension
 @param id Identifies the phone number extension to be deleted
 @return ApiDeletePortingPhoneNumberExtensionRequest
*/
func (a *PortingOrdersAPIService) DeletePortingPhoneNumberExtension(ctx context.Context, portingOrderId string, id string) ApiDeletePortingPhoneNumberExtensionRequest {
	return ApiDeletePortingPhoneNumberExtensionRequest{
		ApiService: a,
		ctx: ctx,
		portingOrderId: portingOrderId,
		id: id,
	}
}

// Execute executes the request
//  @return CreatePortingPhoneNumberExtension201Response
func (a *PortingOrdersAPIService) DeletePortingPhoneNumberExtensionExecute(r ApiDeletePortingPhoneNumberExtensionRequest) (*CreatePortingPhoneNumberExtension201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePortingPhoneNumberExtension201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.DeletePortingPhoneNumberExtension")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{porting_order_id}/phone_number_extensions/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"porting_order_id"+"}", url.PathEscape(parameterValueToString(r.portingOrderId, "portingOrderId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLoaConfigurationRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
}

func (r ApiGetLoaConfigurationRequest) Execute() (*CreateLoaConfiguration201Response, *http.Response, error) {
	return r.ApiService.GetLoaConfigurationExecute(r)
}

/*
GetLoaConfiguration Retrieve a LOA configuration

Retrieve a specific LOA configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Identifies a LOA configuration.
 @return ApiGetLoaConfigurationRequest
*/
func (a *PortingOrdersAPIService) GetLoaConfiguration(ctx context.Context, id string) ApiGetLoaConfigurationRequest {
	return ApiGetLoaConfigurationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateLoaConfiguration201Response
func (a *PortingOrdersAPIService) GetLoaConfigurationExecute(r ApiGetLoaConfigurationRequest) (*CreateLoaConfiguration201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateLoaConfiguration201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.GetLoaConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting/loa_configurations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPortingOrderRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
	includePhoneNumbers *bool
}

// Include the first 50 phone number objects in the results
func (r ApiGetPortingOrderRequest) IncludePhoneNumbers(includePhoneNumbers bool) ApiGetPortingOrderRequest {
	r.includePhoneNumbers = &includePhoneNumbers
	return r
}

func (r ApiGetPortingOrderRequest) Execute() (*GetPortingOrder200Response, *http.Response, error) {
	return r.ApiService.GetPortingOrderExecute(r)
}

/*
GetPortingOrder Retrieve a porting order

Retrieves the details of an existing porting order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiGetPortingOrderRequest
*/
func (a *PortingOrdersAPIService) GetPortingOrder(ctx context.Context, id string) ApiGetPortingOrderRequest {
	return ApiGetPortingOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetPortingOrder200Response
func (a *PortingOrdersAPIService) GetPortingOrderExecute(r ApiGetPortingOrderRequest) (*GetPortingOrder200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetPortingOrder200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.GetPortingOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includePhoneNumbers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_phone_numbers", r.includePhoneNumbers, "form", "")
	} else {
		var defaultValue bool = true
		r.includePhoneNumbers = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPortingOrderLoaTemplateRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
	loaConfigurationId *string
}

// The identifier of the LOA configuration to use for the template. If not provided, the default LOA configuration will be used.
func (r ApiGetPortingOrderLoaTemplateRequest) LoaConfigurationId(loaConfigurationId string) ApiGetPortingOrderLoaTemplateRequest {
	r.loaConfigurationId = &loaConfigurationId
	return r
}

func (r ApiGetPortingOrderLoaTemplateRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.GetPortingOrderLoaTemplateExecute(r)
}

/*
GetPortingOrderLoaTemplate Download a porting order loa template

Download a porting order loa template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiGetPortingOrderLoaTemplateRequest
*/
func (a *PortingOrdersAPIService) GetPortingOrderLoaTemplate(ctx context.Context, id string) ApiGetPortingOrderLoaTemplateRequest {
	return ApiGetPortingOrderLoaTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return *os.File
func (a *PortingOrdersAPIService) GetPortingOrderLoaTemplateExecute(r ApiGetPortingOrderLoaTemplateRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.GetPortingOrderLoaTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/loa_template"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.loaConfigurationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "loa_configuration_id", r.loaConfigurationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/pdf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPortingOrderSubRequestRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
}

func (r ApiGetPortingOrderSubRequestRequest) Execute() (*GetPortingOrderSubRequest200Response, *http.Response, error) {
	return r.ApiService.GetPortingOrderSubRequestExecute(r)
}

/*
GetPortingOrderSubRequest Retrieve the associated V1 sub_request_id and port_request_id

Retrieve the associated V1 sub_request_id and port_request_id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiGetPortingOrderSubRequestRequest
*/
func (a *PortingOrdersAPIService) GetPortingOrderSubRequest(ctx context.Context, id string) ApiGetPortingOrderSubRequestRequest {
	return ApiGetPortingOrderSubRequestRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetPortingOrderSubRequest200Response
func (a *PortingOrdersAPIService) GetPortingOrderSubRequestExecute(r ApiGetPortingOrderSubRequestRequest) (*GetPortingOrderSubRequest200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetPortingOrderSubRequest200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.GetPortingOrderSubRequest")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/sub_request"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPortingOrdersActivationJobRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
	activationJobId string
}

func (r ApiGetPortingOrdersActivationJobRequest) Execute() (*ActivatePortingOrder202Response, *http.Response, error) {
	return r.ApiService.GetPortingOrdersActivationJobExecute(r)
}

/*
GetPortingOrdersActivationJob Retrieve a porting activation job

Returns a porting activation job.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @param activationJobId Activation Job Identifier
 @return ApiGetPortingOrdersActivationJobRequest
*/
func (a *PortingOrdersAPIService) GetPortingOrdersActivationJob(ctx context.Context, id string, activationJobId string) ApiGetPortingOrdersActivationJobRequest {
	return ApiGetPortingOrdersActivationJobRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		activationJobId: activationJobId,
	}
}

// Execute executes the request
//  @return ActivatePortingOrder202Response
func (a *PortingOrdersAPIService) GetPortingOrdersActivationJobExecute(r ApiGetPortingOrdersActivationJobRequest) (*ActivatePortingOrder202Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ActivatePortingOrder202Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.GetPortingOrdersActivationJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/activation_jobs/{activationJobId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"activationJobId"+"}", url.PathEscape(parameterValueToString(r.activationJobId, "activationJobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPortingReportRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
}

func (r ApiGetPortingReportRequest) Execute() (*CreatePortingReport201Response, *http.Response, error) {
	return r.ApiService.GetPortingReportExecute(r)
}

/*
GetPortingReport Retrieve a report

Retrieve a specific report generated.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Identifies a report.
 @return ApiGetPortingReportRequest
*/
func (a *PortingOrdersAPIService) GetPortingReport(ctx context.Context, id string) ApiGetPortingReportRequest {
	return ApiGetPortingReportRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreatePortingReport201Response
func (a *PortingOrdersAPIService) GetPortingReportExecute(r ApiGetPortingReportRequest) (*CreatePortingReport201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePortingReport201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.GetPortingReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting/reports/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAdditionalDocumentsRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
	pageNumber *int32
	pageSize *int32
	filterDocumentType *string
	filterDocumentTypeIn *[]string
	sort *string
}

// The page number to load.
func (r ApiListAdditionalDocumentsRequest) PageNumber(pageNumber int32) ApiListAdditionalDocumentsRequest {
	r.pageNumber = &pageNumber
	return r
}

// The size of the page.
func (r ApiListAdditionalDocumentsRequest) PageSize(pageSize int32) ApiListAdditionalDocumentsRequest {
	r.pageSize = &pageSize
	return r
}

// Filter additional documents of a specific document type
func (r ApiListAdditionalDocumentsRequest) FilterDocumentType(filterDocumentType string) ApiListAdditionalDocumentsRequest {
	r.filterDocumentType = &filterDocumentType
	return r
}

// Filter additional documents by a list of document types
func (r ApiListAdditionalDocumentsRequest) FilterDocumentTypeIn(filterDocumentTypeIn []string) ApiListAdditionalDocumentsRequest {
	r.filterDocumentTypeIn = &filterDocumentTypeIn
	return r
}

// Specifies the sort order for results. If not given, results are sorted by created_at in descending order.
func (r ApiListAdditionalDocumentsRequest) Sort(sort string) ApiListAdditionalDocumentsRequest {
	r.sort = &sort
	return r
}

func (r ApiListAdditionalDocumentsRequest) Execute() (*ListAdditionalDocuments200Response, *http.Response, error) {
	return r.ApiService.ListAdditionalDocumentsExecute(r)
}

/*
ListAdditionalDocuments List additional documents

Returns a list of additional documents for a porting order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiListAdditionalDocumentsRequest
*/
func (a *PortingOrdersAPIService) ListAdditionalDocuments(ctx context.Context, id string) ApiListAdditionalDocumentsRequest {
	return ApiListAdditionalDocumentsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ListAdditionalDocuments200Response
func (a *PortingOrdersAPIService) ListAdditionalDocumentsExecute(r ApiListAdditionalDocumentsRequest) (*ListAdditionalDocuments200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListAdditionalDocuments200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.ListAdditionalDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/additional_documents"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[number]", r.pageNumber, "form", "")
	} else {
		var defaultValue int32 = 1
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[size]", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 20
		r.pageSize = &defaultValue
	}
	if r.filterDocumentType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[document_type]", r.filterDocumentType, "form", "")
	}
	if r.filterDocumentTypeIn != nil {
		t := *r.filterDocumentTypeIn
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter[document_type][in][]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter[document_type][in][]", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort[]", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAllowedFocWindowsRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	id string
}

func (r ApiListAllowedFocWindowsRequest) Execute() (*ListAllowedFocWindows200Response, *http.Response, error) {
	return r.ApiService.ListAllowedFocWindowsExecute(r)
}

/*
ListAllowedFocWindows List allowed FOC dates

Returns a list of allowed FOC dates for a porting order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Porting Order id
 @return ApiListAllowedFocWindowsRequest
*/
func (a *PortingOrdersAPIService) ListAllowedFocWindows(ctx context.Context, id string) ApiListAllowedFocWindowsRequest {
	return ApiListAllowedFocWindowsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ListAllowedFocWindows200Response
func (a *PortingOrdersAPIService) ListAllowedFocWindowsExecute(r ApiListAllowedFocWindowsRequest) (*ListAllowedFocWindows200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListAllowedFocWindows200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.ListAllowedFocWindows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/{id}/allowed_foc_windows"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListExceptionTypesRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
}

func (r ApiListExceptionTypesRequest) Execute() (*ListExceptionTypes200Response, *http.Response, error) {
	return r.ApiService.ListExceptionTypesExecute(r)
}

/*
ListExceptionTypes List all exception types

Returns a list of all possible exception types for a porting order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListExceptionTypesRequest
*/
func (a *PortingOrdersAPIService) ListExceptionTypes(ctx context.Context) ApiListExceptionTypesRequest {
	return ApiListExceptionTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListExceptionTypes200Response
func (a *PortingOrdersAPIService) ListExceptionTypesExecute(r ApiListExceptionTypesRequest) (*ListExceptionTypes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListExceptionTypes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.ListExceptionTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting_orders/exception_types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListLoaConfigurationsRequest struct {
	ctx context.Context
	ApiService *PortingOrdersAPIService
	pageNumber *int32
	pageSize *int32
}

// The page number to load.
func (r ApiListLoaConfigurationsRequest) PageNumber(pageNumber int32) ApiListLoaConfigurationsRequest {
	r.pageNumber = &pageNumber
	return r
}

// The size of the page.
func (r ApiListLoaConfigurationsRequest) PageSize(pageSize int32) ApiListLoaConfigurationsRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiListLoaConfigurationsRequest) Execute() (*ListLoaConfigurations200Response, *http.Response, error) {
	return r.ApiService.ListLoaConfigurationsExecute(r)
}

/*
ListLoaConfigurations List LOA configurations

List the LOA configurations.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListLoaConfigurationsRequest
*/
func (a *PortingOrdersAPIService) ListLoaConfigurations(ctx context.Context) ApiListLoaConfigurationsRequest {
	return ApiListLoaConfigurationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListLoaConfigurations200Response
func (a *PortingOrdersAPIService) ListLoaConfigurationsExecute(r ApiListLoaConfigurationsRequest) (*ListLoaConfigurations200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListLoaConfigurations200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortingOrdersAPIService.ListLoaConfigurations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/porting/loa_configurations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[number]", r.pageNumber, "form", "")
	} else {
		var defaultValue int32 = 1
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page[size]", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 20
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
[...]
